---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

::selection {
  color: #fff;
  background: #ff5050;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #ff5050;
}
